*.bak
*.exe
*.ppu
*.pcp
*.o
*.s
*.fpm
*.a
*.hex
*.elf
*.bin
*.so
*.dll
*.ppl
.*.swp
*~
*.lps
*.elg
*.log
*.obj
*.asm
*.rsj
*.res
*.orig
*.rej
*.patch
*.diff
*.lst
fpcmade.*
*-stamp.*
build-stamp.*
log.*
faillist.*
longlog.*
bin
backup
lazbuild
/compiler/pp1.wpo
/compiler/pp2.wpo
/compiler/ppc1
/compiler/ppc2
/compiler/ppc3
/compiler/ppcwpo1
/compiler/ppcwpo2
/compiler/ppc386
/compiler/ppcx64
/compiler/ppcarm
/compiler/ppca64
/compiler/ppcppc
/compiler/ppcsparc
/compiler/ppcsparc64
/compiler/ppcavr
/compiler/ppcmips
/compiler/ppcmipsel
/compiler/*/pp
/compiler/utils/fpc
/compiler/utils/mka64ins
/compiler/utils/mkarmins
/compiler/utils/mkx86ins
/compiler/utils/ppudump
/compiler/utils/ppufiles
/compiler/utils/ppumove
/packages/fpmake
/packages/fpmkunit/units_bs
/utils/fpmake
units
/tests/output
!/tests/test/units
bin/
fpmake
