*.bak
*.exe
*.ppu
*.pcp
*.o
*.s
*.fpm
*.a
*.hex
*.elf
*.bin
*.so
*.dll
*.ppl
.*.swp
*~
*.lps
*.elg
*.log
*.obj
*.asm
*.rsj
*.res
*.orig
*.rej
*.patch
*.diff
*.lst
fpcmade.*
*-stamp.*
build-stamp.*
log.*
faillist.*
longlog.*
bin
backup
lazbuild
*.wpo
/compiler/ppc*
!/compiler/ppc*.lpi
!/compiler/ppc*.pas
/compiler/*/pp
/compiler/utils/fpc
/compiler/utils/mka64ins
/compiler/utils/mkarmins
/compiler/utils/mkx86ins
/compiler/utils/ppudump
/compiler/utils/ppufiles
/compiler/utils/ppumove
/packages/fpmake
/packages/fpmkunit/units_bs
/utils/fpmake
units
/tests/output
!/tests/test/units
bin/
fpmake
